* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: "Inconsolata", monospace;
}

body {
  background: #f6f6f6;
}

#header {
  text-align: center;
  margin-top: 100px;
  font-size: 36px;
}

p {
  font-size: 20px;
}

.p1 {
  margin-top: 20px;
}

#header2 {
  text-align: center;
}

#container {
  border: 3px solid #028090;
  background-color: #e8f1f2;
  height: 750px;
  width: 440px;
  margin: 50px auto;
  padding: 30px 0px;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  gap: 5px;
  grid-template-areas:
    "display display display display"
    "clear delete powerOf divide"
    "seven eight nine multiply"
    "four five six minus"
    "one two three plus"
    "negPos zero dot equal";
}

.display {
  grid-area: display;
  border: 3px solid #028090;
  background-color: #fff;
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 100px;
  padding: 10px;
  display: grid;
}

.display-last {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
.display-current {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}
#clear {
  grid-area: clear;
  background-color: #f45b69;
}
#delete {
  grid-area: delete;
  background-color: #f45b69;
}

#clear:hover,
#delete:hover {
  background-color: #bc243f;
}

.btn {
  color: white;
  background-color: #028090;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  transition: all 0.07s ease;
}

.btn:hover {
  background-color: #002335;
}
.pressed {
  transform: scale(1.1);
  border-color: #002335;
  box-shadow: 0 0 1rem #002335;
}

.oprator {
  background-color: #114b5f;
}
#oprator:hover,
.selected {
  background-color: #002335;
}
