* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background: #f6f6f6;
}

#container {
  border: 3px solid #028090;
  background-color: #e8f1f2;
  height: 750px;
  width: 450px;
  margin: 100px auto;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: grid;
  gap: 5px;
  grid-template-areas:
    "display display display display"
    "clear clear delete delete"
    "seven eight nine divide"
    "four five six multiply"
    "one two three minus"
    "dot zero equal plus";
}

.display {
  grid-area: display;
  border: 3px solid #028090;
  background-color: #fff;
  color: #333;
  margin-top: 20px;
  margin-bottom: 30px;
  min-height: 100px;
  padding: 10px;
  display: grid;
  grid-template-areas:
    "displayTop"
    "displayBot";
}

.display-last {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}
.display-current {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 10px;
}
#clear {
  grid-area: clear;
  background-color: #f45b69;
}
#delete {
  grid-area: delete;
  background-color: #f45b69;
}

#clear:hover,
#delete:hover {
  background-color: #bc243f;
}

.btn {
  color: white;
  background-color: #028090;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #002335;
}

.oprator {
  background-color: #114b5f;
}
#oprator:hover,
.selected {
  background-color: #002335;
}
